:root{
    --color__azul: #1e88e5;
    --blanco: #fff;
    --negro : #222;
    --fuente_principal: "Montserrat", sans-serif;
}

/* Coloco algunos globales */

html{
    box-sizing: border-box;
    font-size: 62.2%;
}
*, *,:before, *,::after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuente_principal);
    font-size: 1.6rem;
    margin: 0;
}
a{
    text-decoration: none !important;
}
.centrar--texto{
    text-align: center;
}
/* Aqui empiezo mi codigo para darle estilos a toda la pagiina */

/* Aqui le doy estilos al boton */
@media (max-width: 768px ){
    .btn-outline-success{
        width: 7rem !important;
        border-radius: 2rem !important;
        background-color: #1e88e5 !important;
        color: #fff !important;
        font-size: 1.5rem !important;
        
    }
}

@media (min-width: 768px ){
    .btn-outline-success{
        width: 15rem !important;
        height: 4rem !important;
        border-radius: 2rem !important;
        background-color: #1e88e5 !important;
        color: #fff !important;
        font-size: 1.8rem !important;

        
    }
}
/* Aqui le doy estilos a la letra de siman */
@media (min-width: 768px ){
    .siman__bold{
        font-weight: 700;
        font-size: 2.8rem;
        color: #fff;
        font-family: var(--fuente_principal);
    }
    .span__com{
        font-size: 1.8rem;
        font-family: var(--fuente_principal);
    }
    
}
@media (max-width: 768px ){
    .siman__bold{
        font-weight: 700;
        font-size: 1.8rem ;
        color: #fff;
        font-family: var(--fuente_principal);
    }
    .span__com{
        font-size: 1.5rem ;
        font-family: var(--fuente_principal);
    }

}

/* Aqui le doy estilo al navegador de busqueda */

@media (max-width: 768px ){
    .me-2 {
        width: 15rem !important;
        height: 3rem  !important;
        border-radius: 2rem !important;
        background-color: var(--blanco)  !important;
    }
}

@media (min-width: 768px ){
    .me-2{
        width: 40rem !important;
        border-radius: 3rem !important;
    }
}
/* aqui termino con el navbar */

/* Aqui modifico algunas cosas del carrusel */
.aricle--1{
    margin-top: 10px ;
}

.img__modificador{
    border-radius: 3rem !important;
}

.titulo__h5{
    font-size: 2.8rem;
    font-family: var(--fuente_principal);
}

.parrafo__h5{
    font-size: 1.8rem;
}

/* Aqui empiezo a modificar el contenido principal de la pagina */
@media (min-width: 768px ){
    .titulo__h1{
        font-size: 3rem;
        font-family: var(--fuente_principal);
        margin: 2rem 5rem 2rem 5rem;
    }
}
@media (max-width: 768px ){
    .titulo__h1{
        font-size: 1.5rem;
        font-family: var(--fuente_principal);
        margin: 2rem 0 2rem 1rem;

}
}

@media (min-width: 768px ){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media (max-width: 768px ){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.productos{
    background-color: #f4f6f7;
    padding: 1rem;
    border-radius: 2rem;
}
.imagen__producto{
    width: 100%;
    border-radius: 2rem;
}

@media (min-width: 768px ){
    
.precio_producto{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    color: var(--negro);
    margin-top: 1rem;
}
}
@media (max-width: 768px ){
    .precio_producto{
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
        color: var(--negro);
        margin-top: 1rem;
    }
}
.button--a{
    text-align: center;
}
.boton{
    display: block;
}
.button__a{
    background-color: var(--color__azul);
    color: var(--blanco);
    margin-bottom: 1rem ;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding: 1rem;
}

/* Aqui empiezo a modificar la segunda parte de la pagina */
@media (min-width: 768px ){
    .grid-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media (max-width: 768px ){
    .grid-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
/* Aqui empiezo a modificar el footer-pie de pagina */
.footer{
    background-color: var(--negro);
    margin: 0;
    padding: 0;
}
@media (min-width: 768px ){
    .iconos{
        font-size: 3.8rem;
        margin: 1.5rem;
        
    }
    .span__com{
        color: var(--blanco);
    }
}
@media (max-width: 768px ){
    .iconos{
        font-size: 2.8rem;
        margin: 1.5rem;
    }
    .span__com{
        color: var(--blanco);
    }
}
.parrafos{
    color: var(--blanco);
    font-size: 1.5rem;
}

@media (min-width: 768px ){
    .input__email{
        width: 20rem;
        height: 3rem;
    }
}

@media (max-width: 768px ){
    .button__2{
        width: 10rem;
        padding: 1rem;
        background-color: #1e88e5;
        color: #fff;
        font-size: 1.5rem;
        
    }
}

@media (min-width: 768px ){
    .primera-columna{
        margin-left: 1rem ;
    }
    .button__2{
        width: 15rem;
        background-color: #1e88e5;
        text-align: center;
        color: #fff;
        font-size: 1.8rem;   
    }
}
@media (min-width: 768px ){
    .footer--grid{
        display: grid;
        grid-template-columns: 30% 20% 20% 20%;
    }
}
@media (max-width: 768px ){
    .footer--grid{
        display: block;
    }
}
.segunda-columna{
    border-right: 1px solid var(--blanco);
}
.segunda-columna a{
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem;
}
.h3_siman{
    color: var(--blanco);
    margin-top: 1rem ;
    margin-left: 1rem;
}
.tercera-columna{
    border-right: 1px solid var(--blanco);
}

@media (max-width: 769px ){
    .segunda-columna{
        border-top: 1px solid var(--blanco);
        border-right: none;

    }
    .tercera-columna{
        border-top: 1px solid var(--blanco);
        border-right: none;

    }
    .cuarta-columna{
        border-top: 1px solid var(--blanco);
    }

}
.tercera-columna a{
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem;
}

.h3__modificador{
    margin-left: 1rem;
}

.cuarta-columna a{
    color: var(--blanco);
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* Aqui modifico la segunda pagina */
@media (min-width: 768px ){
    .camisa{
        display: grid;
        grid-template-columns: 30% 40%;
    }
    .imagen_modificador{
        width: 100%;
    }
    
    .h1__modificador{
        margin-top: 4rem;
    }
    .parrafos__pagina2{
        font-size: 1.8rem;
    }
    .comprar{
        background-color: #2ecc71;
        border: none;
        border: 1px solid var(--negro);
        width: 10rem;
        height: 3rem;
        color: var(--blanco);
        font-size: 1.5rem;
        font-family: var(--fuente_principal);
    }
    .select{
        width: 10rem;
        height: 3.2rem;
    }
}

@media (max-width: 768px ){
    .camisa{
        display: block;
    }
    .imagen_modificador{
        width: 100%;
    }
    
    .h1__modificador{
        text-align: center;
        margin-top: 2rem;
    }
    .parrafos__pagina2{
        text-align: center;
        font-size: 1.5rem;
        font-family: var(--fuente_principal);
    }
    .comprar{
        background-color: #2ecc71;
        border: none;
        border: 1px solid var(--negro);
        width: 10rem;
        height: 3rem;
        color: var(--blanco);
        font-size: 1.5rem;
        font-family: var(--fuente_principal);
    }
    .select{
        width: 10rem;
        height: 3.2rem;
    }
    .form--pagina2{
        text-align: center;
        margin-bottom: 2rem;
    }
}
/* Aqui ya es el final de la pagina */